//  Colours
$white: rgb(255, 255, 255);
$grey: rgb(234, 234, 234);
$black: rgb(0, 0, 0);
$highlight: rgb(0, 0, 255);

//  Min/Max Width
$min-width--value: 320;
$min-width: ($min-width--value * 1px);
$max-width--value: 1440;
$max-width: ($max-width--value * 1px);

//  Breakpoints
$break--small: 500px;
$break--medium: 800px;
$break--large: 1000px;
$break--x-large: 1200px;

//  Margins and Spacings
$margin--min: 20px;
$margin--max: 40px;

//  Font Stacks
//  See http://www.cssfontstack.com/
$font: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;

//  Transitions
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);

$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

$transition: 0.15s $ease-out-quad;
